# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
Multisig.flat.sol

# Docs
docs/

# Dotenv file
.env

# Foundry lib dependencies (at root only, not app/lib/)
/lib/

out-trc20/